<div class="d-inline-block w-100 text-end mt-4">
    <button type="button" class="btn btn-dark mr-2" @onclick="() => Add()">Add</button>
    <button type="button" class="btn btn-dark" @onclick="() => BackTo()">Cancel</button>
</div>
