@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Administrator section</h5>
        <p class="card-text">Manage your activities as administrator.</p>
        <a href="/admin/index" class="btn btn-primary">Access</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Guide section</h5>
        <p class="card-text">Manage your activities as guide</p>
        <a href="/guide/index" class="btn btn-primary">Access</a>
      </div>
    </div>
  </div>

   <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tourist section</h5>
        <p class="card-text">Discover the website as a visitor</p>
        <a href="/tourist/index" class="btn btn-primary">Access</a>
      </div>
    </div>
  </div>
</div>

